%div
  %h1.font-bold.text-4xl PasswordResets#edit
  %p Find me in app/views/password_resets/edit.html.erb
  .shadow-2xl.justify-center.m-20.py-10.px-40.grid.grid-cols-1.text-center
    = form_with(model: @user, url: password_reset_path(params[:id]), |
      local: true) do |f|                                            |
      \&lt;#{render 'shared/error_messages', object: f.object} #{hidden_field_tag :email, @user.email}
      \#{f.label :password} #{f.password_field :password, class: 'form-control'}
      \#{f.label :password_confirmation, "Confirmation"}
      \#{f.password_field :password_confirmation, class: 'form-control'}
      .text-center.my-5
        = f.submit "Submit", class: "p-3 bg-amber-400 rounded-lg"
