<div>
  <h1 class="font-bold text-4xl">Users#show</h1>
  <div class=" py-5 shadow-lg mx-20">
    <div class=" py-5 font-bold mx-auto my-0 flex justify-center items-center"><%= gravatar_for @user %></div>
    <p class=" py-5 font-bold">NAME：<%=@user.name%></p>
    <p class=" py-5 font-bold">EMAIL：<%=@user.email%></p>
  </div>
  <div class="my-20">
    <% if @user.microposts.any? %>
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>